.container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  height: 100%;

  --trigger-height: 50px;
}

@keyframes open {
  from {
    width: 0px;
  }
  to {
    width: var(--radix-collapsible-content-width);
  }
}
@keyframes close {
  from {
    width: var(--radix-collapsible-content-width);
  }
  to {
    width: 0px;
  }
}

.content {
  background-color: white;
  padding-top: calc(20px + var(--trigger-height));
  margin-block: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.content[data-state="open"] {
  animation: open 300ms ease-in-out;
}
.content[data-state="closed"] {
  animation: close 300ms ease-in-out;
}

.trigger {
  background-color: white;
  border: none;
  padding: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  height: var(--trigger-height);
  margin-top: 50px;
  position: absolute;
  transition: 300ms;
  transform: translateX(-100px);
  min-width: max-content;
}

.trigger[data-state="open"] {
  box-shadow: none;
  width: 100%;
  transform: translateX(0px);
}

.trigger svg {
  transition: 300ms;
}

.trigger[data-state="open"] svg {
  transform: rotate(180deg);
}
